<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="/style/ff.css">
  <meta charset="utf-8">
  <title>FFのシリーズ一覧</title>
</head>
<body>
  <h2>FFのシリーズ一覧</h2>
  <div class="grid-container">
      <% for( let row of data ) { %>
        <div class="series"><td><a href="/ff/<%= row.series %>"><%= row.name %></a></div>
      <% } %>
        <div class="series"><a href="/ff/FinalFantasyothers">その他</a></div>
        </div>
  <p><a href="/ff/create">新規追加</a></p>
  <p><a href="/">アプリ一覧に戻る</a></p>
</body>
</html>