<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="/style/mh.css">
  <meta charset="utf-8">
  <title>モンスターハンターワールド：アイスボーンの大型モンスター種族一覧</title>
</head>
<body>
  <h2>モンスターハンターワールド：アイスボーンの大型モンスター種族一覧</h2>
    <div class="grid-container" >
      <% for( let row of data ) { %>
        <div class="species"><a href="/mh/<%= row %>"><%= row %></a></div>
      <% } %>
      </div>
  <p><a href="/mh/create">新規追加</a></p>
  <p><a href="/">アプリ一覧に戻る</a></p>
</body>
</html>