<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ペルソナ３リロードのアルカナ一覧</title>
  </head>
  <body>
    <h2>ペルソナ３リロードのアルカナ一覧</h2>
    <table>
      <tr>
        <td><a href="/persona/愚者">愚者</a></td>
      </tr>
      <tr>
        <td><a href="/persona/魔術師">魔術師</a></td>
      </tr>
      <tr>
        <td><a href="/persona/女教皇">女教皇</a></td>
      </tr>
      <tr>
        <td><a href="/persona/女帝">女帝</a></td>
      </tr>
      <tr>
        <td><a href="/persona/皇帝">皇帝</a></td>
      </tr>
      <tr>
        <td><a href="/persona/法王">法王</a></td>
      </tr>
      <tr>
        <td><a href="/persona/恋愛">恋愛</a></td>
      </tr>
      <tr>
        <td><a href="/persona/戦車">戦車</a></td>
      </tr>
      <tr>
        <td><a href="/persona/正義">正義</a></td>
      </tr>
      <tr>
        <td><a href="/persona/隠者">隠者</a></td>
      </tr>
      <tr>
        <td><a href="/persona/運命">運命</a></td>
      </tr>
      <tr>
        <td><a href="/persona/剛毅">剛毅</a></td>
      </tr>
      <tr>
        <td><a href="/persona/刑死者">刑死者</a></td>
      </tr>
      <tr>
        <td><a href="/persona/死神">死神</a></td>
      </tr>
      <tr>
        <td><a href="/persona/節制">節制</a></td>
      </tr>
      <tr>
        <td><a href="/persona/悪魔">悪魔</a></td>
      </tr>
      <tr>
        <td><a href="/persona/塔">塔</a></td>
      </tr>
      <tr>
        <td><a href="/persona/星">星</a></td>
      </tr>
      <tr>
        <td><a href="/persona/月">月</a></td>
      </tr>
      <tr>
        <td><a href="/persona/太陽">太陽</a></td>
      </tr>
      <tr>
        <td><a href="/persona/審判">審判</a></td>
      </tr>
      <tr>
        <td><a href="/persona/永劫">永劫</a></td>
      </tr>
    </table>
    <p><a href="/persona/create">新規追加</a></p>
    <p><a href="/">アプリ一覧に戻る</a></p>
  </body>
</html>
